<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Kies de film die jij graag wilt zien!</h1>
    <p>Breng je stem uit op de film die jij de aankomende Movie Night wilt zien, en wie weet zal deze getoont worden op de Movie Night.</p>
    <p><%= link_to "Schrijf je in om te stemen!", new_user_registration_path, class:"btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class:"image"), movie %>
      </div>
    </div>
  <% end %>
</div>